<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="Image/tải xuống.png">
	<title>Ký túc xá - Học viện Bưu chính Viễn thông</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="bootstrap-4.3.1-dist/js/bootstrap.js">
	<link rel="stylesheet" href=" bootstrap.bundle.min.js/bootstrap.bundle.js">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>

<body>
	<nav>
	  <div class="container"> 
		<!-- Brand and toggle get grouped for better mobile display -->
		<nav class="navbar">
			<div class="navbar-inverse navbar-fixed-top">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="" aria-expanded="false"> 
						<span class="sr-only">Toggle navigation</span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="https://ptit.edu.vn/">&nbsp;PTIT</a> 
				</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse">
				  <ul class="nav navbar-nav">
					<li class="active">
						<a href="home.html">
							Giới Thiệu <span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="dropdown"> 
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">
							Sinh Viên <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li class="dropdown-item">
								<a href="capnhatsv.html">
									Cập Nhật Hồ Sơ
								</a> 
							</li>
							<li class="dropdown-item">
								<a href="tracuu.html">
									Tra Cứu Thông Tin Sinh Viên
								</a> 
							</li>
						</ul>
					</li>
					<li>
						<a href="khach.html">Khách</a>
					</li>
					<li class="dropdown"> 
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">
							Phòng ở <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li class="dropdown-item">
								<a href="banggia.html">
									Bảng giá
								</a> 
							</li>
							<li class="dropdown-item">
								<a href="loaiphong.html">
									Loại phòng
								</a> 
							</li>
						</ul>
					</li>
					<li class="dropdown"> 
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">
							Dịch vụ <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li class="dropdown-item">
								<a href="dichvu.html">
									Gói dịch vụ
								</a> 
							</li>
							<li class="dropdown-item">
								<a href="sudungdv.html">
									Sử dụng dịch vụ
								</a> 
							</li>
						</ul>				      
			     	</li>	     
					<li class="dropdown"> 
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">
							Thanh toán <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li class="dropdown-item">
								<a href="#">
									Hóa đơn/Lệ phí
								</a> 
							</li>
							<li class="dropdown-item">
								<a href="hoantraphi.html">
									Hoàn trả phí
								</a> 
							</li>
						</ul>
					</li>
				  </ul>

				  <form class="navbar-form navbar-right" role="search">
					<div class="form-group">
					  <input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">TÌM KIẾM</button>
					<span>&nbnp;</span>
				  </form>
					<ul class="nav navbar-nav navbar-right hidden-sm">
						<li>
							<a href="dangKy.html">Đăng Ký</a> 
						</li>
						<li>
							<a href="dangNhap.html">Đăng Nhập</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- /.navbar-collapse -->
		</div>
	  <!-- /.container-fluid -->
	</nav>
	
	<div class="container">
		<div class="row">
		  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div id="carousel1" class="carousel slide" data-ride="carousel">
			  
				<div class="carousel-inner">
					<div class="item active"> 
						<img class="img-responsive" src="/Image/diadiem1.gif" alt="thumb">
					</div>
				<div class="item"> 
					<img class="img-responsive" src="/Image/diadiem2.gif" alt="thumb">
				</div>
				<div class="item"> 
					<img class="img-responsive" src="/Image/diadiem3.gif" alt="thumb">
				</div>
				</div>
				<a class="left carousel-control" href="#carousel1" data-slide="prev">
				  <span class="icon-prev"></span>
				</a> 
				<a class="right carousel-control" href="#carousel1" data-slide="next">
					<span class="icon-next"></span>
				</a>
		  	</div>
		  </div>
		</div>
	</div>
	<hr>
		<h2 class="text-center">KÝ TÚC XÁ HỌC VIỆN BƯU CHÍNH VIỄN THÔNG</h2>
	<hr>
	<div class="container">
		<div class="row">
			<div class="right">
				<h2>
					Giới thiệu
				</h2>
				<p>
			    	Học viện Công nghệ Bưu chính Viễn thông được thành lập theo quyết định số 516/TTg của Thủ tướng Chính phủ ngày 11 tháng 7 năm 1997 trên cơ sở sắp xếp lại 4 đơn vị thành viên thuộc Tổng Công ty Bưu chính Viễn thông Việt Nam, nay là Tập đoàn Bưu chính Viễn thông Việt Nam là Viện Khoa học Kỹ thuật Bưu điện, Viện Kinh tế Bưu điện, Trung tâm đào tạo Bưu chính Viễn thông 1 và 2. Các đơn vị tiền thân của Học viện là những đơn vị có bề dày lịch sử hình thành và phát triển với xuất phát điểm từ Trường Đại học Bưu điện 1953.
                <br>
Từ ngày 1/7/2014, thực hiện Quyết định của Thủ tướng Chính phủ, Bộ trưởng Bộ Thông tin và Truyền thông đã ban hành Quyết định số 878/QĐ-BTTTT điều chuyển quyền quản lý Học viện từ Tập đoàn Bưu chính Viễn thông Việt Nam về Bộ Thông tin và Truyền thông. Học viện Công nghệ Bưu chính Viễn thông là đơn vị sự nghiệp trực thuộc Bộ. Là trường đại học, đơn vị nghiên cứu, phát triển nguồn nhân lực trọng điểm của Ngành thông tin và truyền thông.
<br>
Với vị thế là đơn vị đào tạo, nghiên cứu trọng điểm, chủ lực của Ngành thông tin và truyền thông  Việt Nam, là trường đại học trọng điểm quốc gia trong lĩnh vực ICT, những thành tựu trong gắn kết giữa Nghiên cứu – Đào tạo – Sản xuất kinh doanh năng lực, quy mô phát triển của Học viện hôm nay, Học viện sẽ có những đóng góp hiệu quả phục vụ sự phát triển chung của Ngành Thông tin và truyền thông và sự nghiệp xây dựng, bảo vệ tổ quốc, góp phần để đất nước, để Ngành Thông tin và truyền thông Việt Nam có sự tự chủ, độc lập về khoa học công nghệ và nguồn nhân lực, qua đó tự tin cạnh tranh với các đối thủ lớn và sánh vai với các cường quốc trên thế giới
			    </p>
			</div>
			<!-- Nội Dung Chính -->
			<div class="left">
			    <h3>
			    	Chức năng và nhiệm vụ
			    </h3>
			    <p>
			    	Học viện Công nghệ Bưu chính – Viễn thông là đơn vị sự nghiệp trực thuộc Bộ Thông tin và truyền thông, Học viện thực hiện hai chức năng cơ bản:
			    	<br>
Giáo dục, đào tạo cho xã hội và cho nhu cầu của Ngành thông tin và truyền thông Việt Nam.
<br>
Nghiên cứu khoa học, tư vấn, chuyển giao công nghệ trong lĩnh vực Bưu chính, Viễn thông và công nghệ thông tin đáp ứng nhu cầu xã hội và nhu cầu của Ngành thông tin và truyền thông Việt Nam.
			    </p>
			</div>
			<div class="left">
			    <h3>
			    	Đào tạo
			    </h3>
			    <p>
			    	Hệ thống đào tạo và cấp bằng của Học viện bao gồm nhiều cấp độ tuỳ thuộc vào thời gian đào tạo và chất lượng đầu vào của các học viên. Hiện nay Học viện cung cấp các dịch vụ giáo dục, đào tạo chủ yếu sau đây:
<br>
Thực hiện các khoá đào tạo bậc Cao đẳng, Đại học, Thạc sĩ và Tiến sĩ theo chương trình chuẩn quốc gia và quốc tế theo các hình thức khác nhau như tập trung, phi tập trung, liên thông, đào tạo từ xa…
<br>
Tổ chức các khoá đào tạo bồi dưỡng ngắn hạn cấp chứng chỉ trong các lĩnh vực Bưu chính, Viễn thông, công nghệ thông tin, quản trị kinh doanh, an toàn thông tin, công nghệ đa phương tiện…
<br>
Tổ chức các chương trình đào tạo cho nước thứ ba.
Sẵn sàng liên danh, liên kết với các đối tác trong nước và quốc tế trong lĩnh vực giáo dục, đào tạo.
			    </p>	
			</div>
			<div class="left">
			    <h3>
			    	Nghiên cứu khoa học và tư vấn chuyển giao công nghệ
			    </h3>
			    <p>
			    	Tổ chức nghiên cứu về chiến lược, quy hoạch phát triển mạng và dịch vụ bưu chính, viễn thông và công nghệ thông tin.
			    	<br>
Tổ chức nghiên cứu về công nghệ, giải pháp và phát triển dịch vụ trong lĩnh vực bưu chính, viễn thông và công nghệ thông tin. Tổ chức nghiên cứu và phát triển các sản phẩm, bán sản phẩm trong lĩnh vực điện tử – viễn thông. Tổ chức nghiên cứu về quản lý, điều hành doanh nghiệp và các lĩnh vực kinh tế khác.
<br>
Cung cấp các dịch vụ tư vấn về công nghệ, giải pháp và phát triển dịch vụ trong lĩnh vực bưu chính, viễn thông, công nghệ thông tin và lĩnh vực kinh tế cho các đơn vị trong và ngoài Ngành thông tin và truyền thông  Việt Nam.
<br>
Cung cấp các dịch vụ đo lường, kiểm chuẩn, tư vấn thẩm định các công trình, dự án thuộc lĩnh vực bưu chính viễn thông và công nghệ thông tin.
<br>
Học viện được ký thoả ước hợp tác với các tổ chức nghiên cứu và đào tạo nước ngoài, trao đổi chuyên gia nghiên cứu và đào tạo với nước ngoài theo quy định của Nhà nước.
			    </p>	
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	
	<div class="container well">
		<div class="row">
			<div class="col-sm-12 text-center"> 
				<address>
					<strong>Website nhóm 18</strong>
					<br>
						Học viện Bưu chính Viễn thông
					<br>
						Km 10, đường Nguyễn Trãi, Quận Hà Đông, Hà Nội.
					<br>
						Được xây dựng bởi: Nhóm 18
					<br>
					<abbr title="Phone">Hotline:</abbr> 094.564.87.32
				</address>
			</div>
		</div>
	</div>
	
	<footer class="text-center">
	  <div class="container">
		<div class="row">
		  <div class="col-xs-12">
			<p>Website đã được đăng ký bản quyền.</p>
		  </div>
		</div>
	  </div>
	</footer>
	
</body>
</html>
